@using Hello_Bechelor.Areas.Admin.Models;
@model IEnumerable<TanentViewModel>
@{
    int sl = 0;
}

<div class="card-body">
    <table class="table table-bordered table-striped text-center" id="tanentTable">
        <thead>
            <tr>
                <th width="5%">
                    SL.
                </th>
                <th>
                    Tanent Name
                </th>
                <th>
                    Tanent Code
                </th>
                <th width="5%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                @foreach (var item in Model)
                {
                    sl++;
                    <tr style="width:70%;" class="text-center">

                        <td style="width:10%">
                            @sl
                        </td>
                        <td class="text-left" style="width:30%">
                            @item.TanentName
                        </td>
                        <td style="width:30%">
                            @item.TanentCode
                        </td>

                        <td style="width:10%">

                            <a onclick="jQueryModalGet('/Admin/Tanent/OnGetCreateOrEdit?id=@item.Id','Edit Tanet')" class="btn btn-info text-white customeAction"><i class="fa fa-edit"></i> </a>

                            <form id="modal_delete_@item.Id" asp-controller="Tanent" asp-action="Delete" asp-route-id="@item.Id" onsubmit="jQueryModalDelete(this); return false;" class="d-inline deletePress">
                                <a href="javascript:$('#modal_delete_@item.Id').submit();" class="btn btn-danger text-white customeAction"><i class="fa fa-trash"></i></a>
                            </form>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#tanentTable").DataTable({
            autoWidth: false
        });
    });
</script>
