@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutAdmin";

}

<style>
    .breadcrumb {
        background-color: transparent;
        color: #6c757d;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        border-bottom: none;
    }
</style>



<div class="content-page mt-4">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Quick Launch</h6>
                                    <hr />
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Quick Launch</h6>
                                    <hr />
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Quick Launch</h6>
                                    <hr/>
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
        