
<footer class="footer">
    <strong>Copyright &copy; @DateTime.Now.Year -Ultra Bechelor V-1.0</strong>
    <span class="d-none d-sm-inline-block"> - Love <i class="mdi mdi-heart text-danger"></i> by Coder Window.com</span>.
</footer>
